<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>BGTaskSchedulerPermittedIdentifiers</key>
	<array>
		<string>com.luvlu.Near.refresh</string>
		<string>com.luvlu.Near.processing</string>
	</array>
	<key>NSLocationWhenInUseUsageDescription</key>
	<string>This app uses your location to map where suspicious devices were detected.</string>
	<key>NSLocationAlwaysAndWhenInUseUsageDescription</key>
	<string>This app uses your location to track potential tracking devices near you even in the background.</string>
	<key>UIBackgroundModes</key>
	<array>
		<string>location</string>
		<string>fetch</string>
		<string>processing</string>
		<string>remote-notification</string>
		<string>nearby-interaction</string>
	</array>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleURLName</key>
			<string>com.luvlu.Near</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>nearbyapp</string>
			</array>
		</dict>
	</array>
</dict>
</plist>
